.anilist {
  color: #02a9ff;
}

.applepodcast {
  color: #9933CC;
}

.audible {
  color: #f8991c;
}

.audiobookshelf {
  color: #82612C;
}

.archlinux {
  color: #1793D1;
}

.bambulab {
  color: #00AE42;
}

.boardgamegeek {
  color: #FF5100;
}

.bluesky {
  color: #0285FF;
}

.claude {
  color: #D97757;
}

.cloudflare {
  color: #f38020;
}

.cloudflarepages {
  color: #f38020;
}

.css3 {
  color: #1572B6;
}

.cryptomator {
  color: #49B04A;
}

.discord {
  color: #5865F2;
}

.docker {
  color: #2496ed;
}

.elasticsearch {
  color: #005571;
}

.flathub {
  color: #4a86cf;
}

.flatpak {
  color: #4A90D9;
}

.forgejo {
  color: #FB923C;
}

.freshrss {
  color: #0062BE;
}

.ghostty {
  color: #3551F3;
}

.git {
  color: #f05032;
}

.github {
  color: #181717;
}

.githubactions {
  color: #2088FF;
}

.githubsponsors {
  color: #EA4AAA;
}

.gnubash {
  color: #4eaa25;
}

.gnuprivacyguard {
  color: #0093dd;
}

.gog {
  color: #86328A;
}

.googlecalendar {
  color: #4285F4;
}

.homeassistant {
  color: #18BCF2;
}

.homebrew {
  color: #fbb040;
}

.html5 {
  color: #E34F26;
}

.icloud {
  color: #3693f3;
}

.ifixit {
  color: #0071CE;
}

.javascript {
  color: #F7DF1E;
}

.koreader {
  color: #00A89C;
}

.linuxserver {
  color: #DA3B8A;
}

.lua {
  color: #2C2D72;
}

.lucidelogo {
  color: #F56565;
}

.mastodon {
  color: #6364FF;
}

.materialdesignicons {
  color: #2196F3;
}

.materialformkdocs {
  color: #526CFE;
}

.mermaid {
  color: #FF3670;
}

.neovim {
  color: #57A143;
}

.nextdns {
  color: #007BFF;
}

.onepassword {
  color: #3B66BC;
}

.openzfs {
  color: #2A667F;
}

.overcast {
  color: #FC7E0F;
}

.plex {
  color: #ebaf00;
}

.pocketcasts {
  color: #f43e37;
}

.postgresql {
  color: #4169E1;
}

.protonvpn {
  color: #66deb1;
}

.python {
  color: #3776AB;
}

.r {
  color: #276DC3;
}

.radarr {
  color: #FFCB3D;
}

.rakuten {
  color: #BF0000;
}

.raycast {
  color: #FF6363;
}

.reddit {
  color: #FF4500;
}

.redis {
  color: #DC382D;
}

.riotgames {
  color: #EB0029;
}

.rottentomatoes {
  color: #fa320a;
}

.rss {
  color: #ffa500;
}

.sidekiq {
  color: #B1003E;
}

.simplelogin {
  color: #EA319F;
}

.sonarr {
  color: #2596BE;
}

.syncthing {
  color: #0891D1;
}

.tmdb {
  color: #01B4E4;
}

.todoist {
  color: #e44332;
}

.torproject {
  color: #7e4798;
}

.truenas {
  color: #0095D5;
}

.ublockorigin {
  color: #800000;
}

.ubiquiti {
  color: #0559C9;
}

.unraid {
  color: #F15A2C;
}

.valorant {
  color: #FA4454;
}

.vim {
  color: #019733;
}

.wireguard {
  color: #88171A;
}

.xml {
  color: #005FAD;
}

.yaml {
  color: #CB171E;
}

.youtube {
  color: #FF0000;
}

.zsh {
  color: #F15A24;
}
