@font-face {
  font-family: 'Berkeley Mono Variable';
  src: url("/assets/font/BerkeleyMono/BerkeleyMonoVariable.woff2") format('woff2');
  font-stretch: 60 100;
  font-weight: 100 900;
  font-style: oblique 0deg 16deg;
  font-feature-settings: calt;
  font-variant-ligatures: contextual;
}

:root>* {
  --md-text-font: "Berkeley Mono Variable";
  --md-code-font: "Berkeley Mono Variable";
}

body {
  font-family: 'Berkeley Mono Variable', 'Cascadia Code', 'Andale Mono', 'Consolas', 'SF Mono', monospace;
}

/* LINK https://github.com/zensical/ui/blob/master/src/assets/stylesheets/modern/main/_typeset.scss */

.md-typeset {
  line-height: 1.2rem;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  color: var(--md-default-fg-color);
}

.md-typeset h1 {
  font-weight: 900;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.md-typeset h2 {
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 1rem;
}

.md-typeset h3 {
  font-weight: 800;
  margin-top: 1rem;
}

.md-post__content.md-typeset h2 {
  margin: 0;
}

.md-typeset h3 {
  font-size: 0.9rem;
}

.md-typeset p {
  font-stretch: 90%;
}

.md-post__content.md-typeset p {
  margin-top: 0.5rem;
}

.md-meta {
  color: var(--md-default-fg-color--light);
  font-size: small;
  margin-bottom: 5px;
}

.md-post--excerpt .md-post__header {
  align-items: normal;
  gap: .6rem;
  min-height: 1.6rem;
}

.md-typeset figcaption {
  font-weight: 100;
  font-size: .6rem;
}

.md-typeset .admonition p,
.md-typeset .admonition ul,
.md-typeset .admonition ol,
.md-typeset .admonition ul li,
.md-typeset .admonition ol li {
  font-size: 0.65rem;
}

.md-content__inner {
  padding: 0;
}

.md-post__action {
  font-style: oblique;
  text-align: right;
}

.md-typeset a {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-decoration-inset: 0 10px;
    text-decoration-color: var(--md-default-fg-color--lighter);
    text-underline-offset: 0.15em;
}

.md-typeset a:hover {
    text-decoration-color: rgb(var(--solarized-cyan));
}

[data-md-color-scheme="default"] .md-typeset a {
    color: rgb(var(--solarized-base02));
}

[data-md-color-scheme="slate"] .md-typeset a {
    color: rgb(var(--solarized-base1));
}
