name: Build and Deploy on Cloudflare Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    if: github.event.repository.fork == false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python runtime
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: |
          pip install zensical

      - name: Build site
        run: |
          zensical build --clean
          zensical --version

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_PAGES_API }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy site --project-name=wiki
          # Optional: Enable this if you want to have GitHub Deployments triggered
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
